<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
	{{!-- Link to reset stylesheet --}}
	<link rel="stylesheet" href="/assets/css/reset.css" type="text/css" />
	{{!-- Link to stylesheet --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
	{{!-- Link to GoogleFonts --}}
	<link href="https://fonts.googleapis.com/css?family=Bowlby+One+SC|Pragati+Narrow" rel="stylesheet">
	{{!-- Link to fontawesome --}}
	<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
	<title>Coffee Creator</title>
	{{!-- Link to jquery --}}
	<script src="https://code.jquery.com/jquery.js"></script>
</head>
<body>
	{{!-- Pulls from handlebars file --}}
	{{{ body }}}
</body>
	{{!-- Link to coffee.js file --}}
	<script src="/assets/js/coffee.js"></script>
</html>
