<h1>Coffee Creator!</h1>

<h2>Coffee ready to drink!</h2>

<ul>
	{{#each coffee}}
		{{#unless drank}}
			{{ coffee/coffee-block drank=true}}
		{{/unless}}
	{{/each}}
</ul>

<h2>Coffee that's already gone.</h2>

<ul>
	{{#each coffee}}
		{{#if drank}}
			{{ coffee/coffee-block drank=false}}
		{{/if}}
	{{/each}} 
</ul>

<h2>Add a Coffee</h2>
<form class= "create-form">
	<div class= "form-group">
		<label for ="co">Coffee Drink:</label>
		<input type ="text" id ="co" name="name">
	</div>
	<button type="submit" class="add-coffee">Add coffee!</button>
</form>