body {
	background-color: #D5C5B1;
}

h1 {
	font-size: 80px;
	color:#8BEDEE;
	background-color: #401D11;
	text-align: center;
	padding: 20px;
}

h2 {
	font-size: 40px;
	color:#9D5A3F;
	text-align: center;
	margin: 20px 0 20px 0;
}

h3 {
	font-size: 20px;
	color:#401D11;
	text-align: center;
}

.add-coffee {
	font-size: 20px;
	color:#401D11;
	text-align: center;
}

#co {
	width:300px;
	height:60px;
}

#submit {
	color:#401D11;
	background-color: #8BEDEE;
	padding:10px;
	font-size: 20px;
	border-color: #401D11;
}

.ready {
	margin-left: 300px;
	float:left;
	align-content: center;
}

.gone {
	margin-right: 300px;
	float:right;
	align-content: center;
}

li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;

